<p id="notice"><%= notice %></p>

<h1>Listing Deals</h1>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Deal name</th>
      <th>Rest name</th>
      <th>Disc info</th>
      <th>List price</th>
      <!-- th>Pic url</th -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td><img height="60px" width="80px" src=<%= deal.pic_url %>></td>
        <td><%= deal.deal_name %></td>
        <td><%= deal.rest_name %></td>
        <td><%= deal.disc_info %></td>
        <td><%= deal.list_price %></td>
        <!-- td><%= deal.pic_url %></td -->
        <td><%= link_to 'Show', deal %></td>
        <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
        <td><%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deal', new_deal_path %>
